@using Fluxor
@using Haus.Site.Host.Shared.Settings
@using Haus.Site.Host.Shell
@using Microsoft.Extensions.Configuration

@inject IDispatcher Dispatch;
@inject IConfiguration Configuration;

<Fluxor.Blazor.Web.StoreInitializer/>

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(ShellLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(ShellLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        var apiSettings = new ApiSettingsModel();
        Configuration.Bind("Api", apiSettings);
        var authSettings = new AuthSettingsModel();
        Configuration.Bind("Auth", authSettings);
        Dispatch.Dispatch(new SettingsLoadedAction(new SettingsState(apiSettings, authSettings)));
    }
}
