@using Fluxor
@using Haus.Site.Host.Shared.State.Settings
@using Haus.Site.Host.Shell
@using Microsoft.Extensions.Configuration

@inject IDispatcher Dispatch;
@inject IConfiguration Configuration;

<Fluxor.Blazor.Web.StoreInitializer/>

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(ShellLayout)">
            <Authorizing>
                <p>Determining session state, please wait...</p>
            </Authorizing>
            <NotAuthorized>
                <h1>Sorry</h1>
                <p>You're not authorized to reach this page. You need to log in.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(ShellLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        var apiSettings = new ApiSettingsModel();
        Configuration.Bind("Api", apiSettings);
        var authSettings = new AuthSettingsModel();
        Configuration.Bind("Auth", authSettings);
        Dispatch.Dispatch(new SettingsLoadedAction(new SettingsState(apiSettings, authSettings)));
    }
}
